.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.text-center {
  text-align: center;
}
body {
  font-family: 'PingFang SC', 'Microsoft YaHei', Roboto, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 2;
}
::selection {
  color: #fff;
  background: #8e71c1;
}
a {
  color: #c97e50;
  text-decoration: none;
  transition: color 0.1s;
}
a:hover,
a:focus {
  color: #db2828;
}
a:active {
  color: #643f28;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
h2 {
  font-size: 2.2rem;
  font-weight: 300;
}
h3 {
  font-size: 1.9rem;
  font-weight: 300;
}
h4 {
  font-size: 1.6rem;
  font-weight: 300;
}
h5 {
  font-size: 1.3rem;
  font-weight: 300;
}
h6 {
  font-size: 1rem false;
}
button {
  outline: none;
}
p {
  font-size: inherit;
  font-weight: inherit;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
hr {
  opacity: 0.2;
  margin: 1rem;
}
:root {
  --hty-primary: #c97e50;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: var(--hty-bg-color, #f5f5f5);
}
body::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.08;
  background-image: url("/images/SEO-image-NBA-logoman.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: bgFadeIn;
  animation-duration: 2s;
  opacity: 0.08;
  filter: blur(10px);
}
@-moz-keyframes bgFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.08;
  }
}
@-webkit-keyframes bgFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.08;
  }
}
@-o-keyframes bgFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.08;
  }
}
@keyframes bgFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.08;
  }
}
#banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.vertical-line-top,
.vertical-line-bottom {
  display: flex;
  background-color: #000;
  width: 1px;
  height: 0;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.vertical-line-bottom {
  position: absolute;
  bottom: 0;
}
.char {
  font-family: 'Songti SC', 'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto, serif;
  font-size: var(--banner-char-size);
  font-weight: 900;
  background-color: rgba(255,255,255,0.5);
  line-height: 1;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
}
.char:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.9);
}
.char-left,
.char-right {
  display: flex;
  color: #000;
  opacity: 0;
}
.char-left {
  border-left: 1px solid #000;
  border-right: 0px solid rgba(201,126,80,0.1);
  border-right-width: 0px;
  animation-duration: 0.4s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.char-right {
  border-left: 0px solid rgba(201,126,80,0.1);
  border-right: 1px solid #000;
  border-left-width: 0px;
  animation-duration: 0.4s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.cloud {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
  box-sizing: border-box;
}
.cloud .waves {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
}
@media (max-width: 768px) {
  .cloud .waves {
    height: 40px;
  }
}
.cloud .parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.cloud .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.cloud .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.cloud .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.cloud .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@-moz-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@-o-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
#goDown {
  display: inline-flex;
  position: absolute;
  bottom: 1rem;
  z-index: 9;
  animation: float 2s linear infinite;
}
#goDown .icon {
  color: #c97e50;
  width: 3rem;
  height: 3rem;
}
@-moz-keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes extend-line {
  from {
    height: 0;
  }
  to {
    height: var(--banner-line-height);
  }
}
@-webkit-keyframes extend-line {
  from {
    height: 0;
  }
  to {
    height: var(--banner-line-height);
  }
}
@-o-keyframes extend-line {
  from {
    height: 0;
  }
  to {
    height: var(--banner-line-height);
  }
}
@keyframes extend-line {
  from {
    height: 0;
  }
  to {
    height: var(--banner-line-height);
  }
}
@-moz-keyframes char-move-left {
  from {
    opacity: 0;
    border-right-width: 0;
  }
  to {
    opacity: 1;
    border-right-width: var(--banner-char-size, 1rem);
  }
}
@-webkit-keyframes char-move-left {
  from {
    opacity: 0;
    border-right-width: 0;
  }
  to {
    opacity: 1;
    border-right-width: var(--banner-char-size, 1rem);
  }
}
@-o-keyframes char-move-left {
  from {
    opacity: 0;
    border-right-width: 0;
  }
  to {
    opacity: 1;
    border-right-width: var(--banner-char-size, 1rem);
  }
}
@keyframes char-move-left {
  from {
    opacity: 0;
    border-right-width: 0;
  }
  to {
    opacity: 1;
    border-right-width: var(--banner-char-size, 1rem);
  }
}
@-moz-keyframes char-move-right {
  from {
    opacity: 0;
    border-left-width: 0;
  }
  to {
    opacity: 1;
    border-left-width: var(--banner-char-size, 1rem);
  }
}
@-webkit-keyframes char-move-right {
  from {
    opacity: 0;
    border-left-width: 0;
  }
  to {
    opacity: 1;
    border-left-width: var(--banner-char-size, 1rem);
  }
}
@-o-keyframes char-move-right {
  from {
    opacity: 0;
    border-left-width: 0;
  }
  to {
    opacity: 1;
    border-left-width: var(--banner-char-size, 1rem);
  }
}
@keyframes char-move-right {
  from {
    opacity: 0;
    border-left-width: 0;
  }
  to {
    opacity: 1;
    border-left-width: var(--banner-char-size, 1rem);
  }
}
#footer {
  font-size: 0.9rem;
  color: #303133;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
#footer .footer-separator {
  margin: 0 0.5rem;
}
#footer .footer-custom-text {
  margin-top: 0.3rem;
  line-height: 0;
}
#animate {
  animation: iconAnimate 1.33s ease-in-out infinite;
}
.with-love {
  display: inline-block;
  margin: 5px 5px 0 5px;
  color: #C97E50;
}
#busuanzi_value_site_uv,
#busuanzi_value_site_pv {
  margin-left: 0.2rem;
}
.moe-text {
  margin: 0 5px;
}
@-moz-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@-o-keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
@keyframes iconAnimate {
  0%, 100% {
    transform: scale(1);
  }
  10%, 30% {
    transform: scale(0.9);
  }
  20%, 40%, 60%, 80% {
    transform: scale(1.1);
  }
  50%, 70% {
    transform: scale(1.1);
  }
}
.hty-layout-grid {
  display: grid;
  box-sizing: border-box;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  margin: 1rem auto;
}
.hty-layout-grid__cell {
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}
.hty-layout-grid__cell--span-12 {
  margin: 0;
  width: auto;
  grid-column-end: span 12;
}
.link-items {
  display: flex;
  padding: 0 0.5rem;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.link-item {
  display: inline-flex;
  text-align: center;
  justify-self: center;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  width: 15rem;
  transition: 0.2s;
  color: var(--primary-color, #000);
  border: 1px solid var(--primary-color, #808080);
}
.link-item:hover {
  color: #fff;
  background-color: var(--primary-color, #808080);
  box-shadow: 0 2px 20px var(--primary-color, #808080);
}
@media screen and (max-width: 768px) {
  .link-item {
    display: flex;
  }
}
.link-item .link-url {
  display: inline-block;
  line-height: 0;
}
.link-item .link-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid var(--primary-color, #808080);
  transition: 0.5s;
}
.link-item .link-avatar:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.link-item .link-info {
  padding-left: 0.6rem;
}
.link-item .link-blog {
  font-family: 'Songti SC', 'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto, serif;
  font-weight: 900;
  margin: 0.42rem 0;
}
.link-item .link-desc {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  width: 10.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#content {
  overflow: hidden;
}
#page,
#archive,
#tag,
#category {
  margin: 0 1rem 1rem 1rem;
  background-color: #fff;
  padding: 1rem 0.5rem;
}
@media screen and (max-width: 768px) {
  #page,
  #archive,
  #tag,
  #category {
    margin: 0 0 1rem 0;
  }
}
.page-subtitle {
  text-align: center;
  color: #999;
  font-size: 1rem;
  margin: 0.5rem;
}
.category-lists,
.tag-cloud {
  text-align: center;
  padding: 1rem 2rem;
}
.category-lists a,
.tag-cloud a {
  display: inline-block;
  margin: 0 0.4rem;
  text-decoration: none;
}
.category-lists a:hover,
.tag-cloud a:hover {
  color: #000 !important;
}
.category-lists {
  text-align: left;
}
.category-lists .category-list {
  padding-inline-start: 0px;
}
.category-lists .category-list-item {
  list-style: none;
}
.category-lists .category-list-item:hover::before {
  color: #0078e7;
}
.category-lists .category-list-item::before {
  content: '📂';
}
.category-lists .category-list-child .category-list-item::before {
  content: '📁';
}
.category-lists .category-list-link {
  color: #303133;
  border-bottom: 1px dotted #999;
}
.category-lists .category-list-count::before {
  content: ' [ ';
}
.category-lists .category-list-count::after {
  content: ' ] ';
}
.wordcloud {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.wordcloud #wordcloud-canvas,
.wordcloud #wordcloud-sidebar-canvas {
  cursor: url("$cursor-pointer"), pointer;
}
.wordcloud #wordbox {
  pointer-events: none;
  position: absolute;
  box-shadow: 0 0 100px 100px rgba(0,0,0,0.1);
  border-radius: 50px;
}
.wordcloud #wordbox-sidebar {
  pointer-events: none;
  position: absolute;
}
.page-number-basic,
.pagination .space,
.pagination .prev,
.pagination .next,
.pagination .page-number {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0;
  background-color: rgba(255,255,255,0.5);
  transition: 0.2s;
}
.pagination {
  text-align: center;
}
.pagination .prev,
.pagination .next,
.pagination .page-number {
  color: #303133;
  text-decoration: none;
}
.pagination .prev:hover,
.pagination .next:hover,
.pagination .page-number:hover {
  background: rgba(250,242,237,0.9);
}
.pagination .prev:active,
.pagination .next:active,
.pagination .page-number:active {
  background: rgba(212,152,115,0.9);
  color: #fff;
}
.pagination .prev.current,
.pagination .next.current,
.pagination .page-number.current {
  background: rgba(201,126,80,0.9);
  color: #fff;
  cursor: default;
}
.post-block {
  margin: 0 1rem;
  padding: 1rem;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .post-block {
    margin: 0;
    padding-top: 2.5rem;
  }
}
.post-body {
  padding: 0 5rem;
}
@media screen and (max-width: 1024px) {
  .post-body {
    padding: 0 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .post-body {
    padding: 0 0.5rem;
  }
}
.post-content {
  padding: 20px 0px;
}
.post-meta {
  font-size: 14px;
  color: #303133;
}
.post-meta .icon {
  margin-bottom: -1px;
}
.post-description {
  font-weight: normal;
  padding: 0.5rem;
}
.post-author {
  display: flex;
  justify-content: center;
}
.post-author .author-avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
.post-author .author-avatar img {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  padding: 2px;
  border: 2px solid #d3d3d3;
}
.post-author .author-name {
  margin-left: 0.5rem;
  font-size: 1rem;
}
.post-meta-item-icon {
  display: inline-block;
  color: var(--text-color, #333);
}
.post-meta-divider {
  height: 25px;
  color: #303133;
  margin: 0 0.5rem;
}
.post-eof {
  margin: 50px auto;
  width: 50%;
  height: 1px;
  background: #0078e7;
  opacity: 0.1;
}
.post-copyright {
  font-size: 0.9rem;
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  border-left: 3px solid #f8722a;
  background-color: #fafbfc;
  list-style: none;
}
.tag-name {
  padding: 0 0.1rem;
}
.hty-button {
  font-family: Roboto, sans-serif;
  background-color: transparent;
  margin: 0 1rem;
  padding: 0 0.5rem;
  border-radius: 2px;
  color: #c97e50;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-height: 2rem;
  min-width: 4rem;
  outline: none;
  line-height: 2;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.09rem;
  -webkit-font-smoothing: antialiased;
}
.hty-button:hover {
  background-color: rgba(201,126,80,0.05);
}
.hty-button--raised {
  background-color: var(--hty-primary, #c97e50);
  box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.3);
  color: #fff;
}
.hty-button--raised:focus {
  color: #eee;
}
.hty-button--raised:hover {
  color: #fff;
  background-color: rgba(201,126,80,0.9);
}
.hty-icon-button {
  display: inline-flex;
  border: none;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  line-height: 1;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
}
.hty-icon-button:hover {
  background-color: rgba(201,126,80,0.1);
}
.hty-icon-button:active {
  background-color: rgba(201,126,80,0.3);
}
.button-glow {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: glowing;
  animation-direction: alternate;
}
@-moz-keyframes glowing {
  from {
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  to {
    box-shadow: 0 0 20px rgba(201,126,80,0.3);
  }
}
@-webkit-keyframes glowing {
  from {
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  to {
    box-shadow: 0 0 20px rgba(201,126,80,0.3);
  }
}
@-o-keyframes glowing {
  from {
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  to {
    box-shadow: 0 0 20px rgba(201,126,80,0.3);
  }
}
@keyframes glowing {
  from {
    box-shadow: 0 0 0 rgba(0,0,0,0);
  }
  to {
    box-shadow: 0 0 20px rgba(201,126,80,0.3);
  }
}
.hty-card {
  position: relative;
  display: flex;
  margin: 1rem;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  flex-direction: column;
  box-sizing: border-box;
}
.planet-menu {
  border-radius: 50%;
  border: 2px solid #000;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: rgba(255,255,255,0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(201,126,80,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(201,126,80,0.3);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(201,126,80,0.7);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(201,126,80,0.9);
}
.iconfont {
  font-size: 1.2rem;
}
.icon {
  width: 1rem;
  height: 1rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.fireworks {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  pointer-events: none;
}
.post-card {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 1px 8px rgba(255,255,255,0.1);
}
.post-card:hover {
  box-shadow: 0 1px 10px rgba(0,0,0,0.08);
}
.post-card-header {
  padding-top: 0.5rem;
}
.post-card-excerpt,
.post-card-excerpt p {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.post-card-content {
  padding: 0.5rem 1rem;
}
.post-card-title {
  margin: 0;
}
.post-card__actions {
  display: flex;
  align-items: center;
  min-height: 3rem;
  border-top: 1px solid rgba(201,126,80,0.05);
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
}
.post-card-tag {
  display: inline-flex;
  justify-content: flex-end;
}
.tag,
.category {
  font-size: 0.8rem;
  position: relative;
  color: var(--text-color, #000);
  letter-spacing: 1px;
}
.tag::before,
.category::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 0;
  right: 0;
  background: rgba(201,126,80,0.08);
  border-radius: 4px;
  transition: width 0.2s ease;
}
.tag:hover::before,
.category:hover::before {
  width: 104%;
  left: -2%;
}
.tag .icon,
.category .icon {
  width: 0.8rem;
  height: 0.8rem;
  padding-left: 0.1rem;
}
.post-top-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #f2711c;
}
.post-top-icon .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.post-collapse {
  position: relative;
  margin: 0 5rem 2rem 5rem;
}
@media screen and (max-width: 1024px) {
  .post-collapse {
    margin: 0 2rem 1rem 2rem;
  }
}
@media screen and (max-width: 768px) {
  .post-collapse {
    margin: 0 1rem 0.5rem 1rem;
  }
}
.post-collapse-title {
  font-size: 2rem;
  text-align: center;
}
.post-collapse .collection-title {
  position: relative;
  margin: 0;
  border-bottom: 2px solid rgba(201,126,80,0.6);
}
.post-collapse .collection-title::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 2px;
  height: 50%;
  background: rgba(201,126,80,0.3);
}
.post-collapse .collection-title .archive-year {
  font-family: 'Source Code Pro', 'Courier New', Courier, Consolas, Monaco, monospace;
  color: #56311b;
  margin: 0 1.5rem;
}
.post-collapse .collection-title .archive-year::before {
  content: '';
  position: absolute;
  left: 0;
  top: 35%;
  margin-left: -11px;
  margin-top: -4px;
  width: 1.5rem;
  height: 1.5rem;
  background: #c97e50;
  border-radius: 50%;
}
.post-collapse .post-item {
  position: relative;
}
.post-collapse .post-item::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background: rgba(201,126,80,0.3);
}
.post-collapse .post-header {
  position: relative;
  border-bottom: 2px solid rgba(201,126,80,0.3);
  display: flex;
}
.post-collapse .post-header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1.6rem;
  width: 0.5rem;
  height: 0.5rem;
  margin-left: -4px;
  border-radius: 50%;
  border: 1px solid #c97e50;
  background-color: #fff;
  z-index: 1;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-property: background;
}
.post-collapse .post-header:hover::before {
  background: #c97e50;
}
.post-collapse .post-header .post-title {
  margin-left: 0.1rem;
  padding: 0;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
}
.post-collapse .post-header .post-title .post-title-link .icon {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.3rem;
}
.post-collapse .post-header .post-meta {
  font-family: 'Source Code Pro', 'Courier New', Courier, Consolas, Monaco, monospace;
  font-size: 1rem;
  margin: 1rem 0 1rem 1.2rem;
  white-space: nowrap;
}
.last-word {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.post-header {
  position: relative;
  text-align: center;
}
.post-header .post-title {
  margin: 0;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: 'Songti SC', 'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto, serif;
}
.post-header .post-title .icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.3rem;
}
.post-header .post-title .post-title-link {
  position: relative;
  padding: 0.7rem 1.2rem;
}
.post-header .post-title .post-title-link .icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.4rem;
}
.post-header .post-title .post-title-link::before,
.post-header .post-title .post-title-link::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0;
  border: 2px solid;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}
.post-header .post-title .post-title-link::before {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px;
  transform: translate3d(10px, 10px, 0);
}
.post-header .post-title .post-title-link::after {
  right: 0;
  bottom: 0;
  border-width: 0 2px 2px 0;
  transform: translate3d(-10px, -10px, 0);
}
.post-header .post-title .post-title-link:hover::before,
.post-header .post-title .post-title-link:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.post-edit-link {
  padding: 0 0.2rem;
  color: #999;
}
.post-edit-link .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.post-markdown {
  line-height: 1.8;
}
.post-markdown p {
  overflow: auto;
}
.post-markdown h1 {
  font-size: 2.5em;
  border-bottom: 1px solid rgba(153,153,153,0.5);
}
.post-markdown h2 {
  font-size: 2.2em;
  border-bottom: 1px solid rgba(153,153,153,0.5);
}
.post-markdown h3 {
  font-size: 1.9em;
  border-bottom: 1px dotted rgba(153,153,153,0.5);
}
.post-markdown h4 {
  font-size: 1.6em;
}
.post-markdown h5 {
  font-size: 1.3em;
}
.post-markdown h6 {
  font-size: 1.03em;
}
.post-markdown h1,
.post-markdown h2,
.post-markdown h3,
.post-markdown h4,
.post-markdown h5,
.post-markdown h6 {
  transition: all 0.2s ease-out;
}
.post-markdown h1 .header-anchor,
.post-markdown h2 .header-anchor,
.post-markdown h3 .header-anchor,
.post-markdown h4 .header-anchor,
.post-markdown h5 .header-anchor,
.post-markdown h6 .header-anchor {
  margin-right: 0.2rem;
}
.post-markdown pre,
.post-markdown code {
  overflow: auto;
  font-family: 'Source Code Pro', 'Courier New', Courier, Consolas, Monaco, monospace !important;
  font-size: 0.85rem;
  line-height: 1.6;
  border-radius: 3px;
}
.post-markdown pre code,
.post-markdown code code {
  padding: 0px;
  background: transparent;
  font-size: 0.85rem;
}
.post-markdown >pre {
  padding: 0.5rem;
  background-color: #eee;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.post-markdown code {
  overflow-wrap: break-word;
  padding: 3px 6px;
  color: #303133;
  background: #eee;
  border-radius: 3px;
}
.post-markdown kbd {
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2), inset 0 -2px 0 rgba(0,0,0,0.06);
  padding: 0.25rem 0.5rem;
  margin: 0.1rem;
  font-size: 12px;
}
.post-markdown blockquote {
  margin: 0;
  padding: 0 1rem;
  color: #303133;
  border-left: 0.25rem solid #999;
}
.post-markdown hr {
  margin: 2rem 0;
  height: 2px;
  border: none;
  background-color: rgba(201,126,80,0.5);
}
.post-markdown img {
  display: flex;
  margin: 0.5rem auto;
  max-width: 92%;
  min-height: 10px;
  max-height: 500px;
  border-radius: 0.2rem;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.12);
  transition: 0.4s;
  text-align: center;
}
.post-markdown img:hover {
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.12);
}
.post-markdown img::before {
  content: '「 LOADING ERROR 」';
}
.post-markdown img + em {
  display: block;
  text-align: center;
  color: #666;
  font-size: 0.9rem;
}
.post-markdown iframe {
  display: flex;
  width: 92%;
  margin: 2rem auto;
  height: 600px;
  border-radius: 0.2rem;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.12);
  transition: 0.4s;
}
.post-markdown iframe:hover {
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.12);
}
.post-markdown strong {
  font-weight: bold;
}
.post-markdown summary {
  outline: none;
}
.post-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}
@media screen and (max-width: 768px) {
  .post-nav {
    margin: 0;
  }
}
.post-nav-item {
  display: inline-block;
  outline: none;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  height: 3rem;
  line-height: 2.9rem;
  transition: 0.4s;
}
.post-nav-item:hover {
  background-color: rgba(201,126,80,0.1);
}
.post-nav-prev {
  padding-right: 0.5rem;
}
.post-nav-next {
  padding-left: 0.5rem;
}
.post-nav-prev,
.post-nav-next {
  display: inline-flex;
  align-items: center;
  color: #c97e50;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
}
@media screen and (max-width: 768px) {
  .post-nav-prev,
  .post-nav-next {
    max-width: 10rem;
  }
}
.post-nav-prev:active,
.post-nav-next:active {
  color: #fff;
}
.post-nav-prev .icon,
.post-nav-next .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.post-nav-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#reward-container {
  padding: 10px 0;
  margin: 20px auto;
  width: 90%;
  text-align: center;
}
#reward-button {
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
  color: #ff8718;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}
#reward-button .icon {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: top;
  margin-top: -0.05rem;
}
#reward-comment {
  margin-top: 0.5rem;
}
#qr img {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  margin: 1rem 1rem 0 1rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
#qr img:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
#qr .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.table-container {
  overflow: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  overflow: auto;
}
table > tbody > tr:nth-of-type(odd) {
  background-color: #fafafa;
}
table > tbody > tr:hover {
  background-color: #f5f5f5;
}
caption,
th,
td {
  padding: 8px;
  vertical-align: middle;
  font-weight: normal;
}
th,
td {
  border: 1px solid #ccc;
  border-bottom: 3px solid #ccc;
}
th {
  padding-bottom: 10px;
  font-weight: 700;
}
td {
  border-bottom-width: 1px;
}
.hamburger {
  padding: 0px 0px;
  display: inline-block;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #c97e50;
}
.hamburger-box {
  outline: none;
  width: 25px;
  height: 18px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 25px;
  height: 2px;
  background-color: #c97e50;
  border-radius: 3px;
  position: absolute;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -8px;
}
.hamburger-inner::after {
  bottom: -8px;
}
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.sidebar-nav {
  padding-left: 0px;
  margin-top: 1rem;
  margin-bottom: 0;
}
.sidebar-nav .sidebar-nav-item {
  border: 1px solid #c97e50;
  color: #c97e50;
  margin: 0 1.25rem;
}
.sidebar-nav .sidebar-nav-item:hover {
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  background-color: #c97e50;
  color: #fff;
}
.sidebar-nav .sidebar-nav-item .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.sidebar-nav .sidebar-nav-active {
  background-color: #c97e50;
  color: #fff;
  box-shadow: 0 0 5px rgba(201,126,80,0.2);
}
.post-toc {
  line-height: 1.8;
  padding: 1rem;
}
.post-toc ol {
  list-style: none;
  text-align: left;
  padding-left: 1rem;
  margin: 0;
}
.post-toc ol .toc-link {
  color: #c97e50;
}
.post-toc ol .toc-link:hover {
  color: #db2828;
}
.post-toc ol .toc-number {
  font-family: 'Source Code Pro', 'Courier New', Courier, Consolas, Monaco, monospace;
}
.post-toc ol .toc-child {
  overflow: hidden;
  transition: max-height 0.6s ease-in;
  max-height: 0;
}
.post-toc ol .toc-item.active>.toc-link {
  color: #f2711c;
  border-bottom: 1px solid #f2711c;
}
.post-toc ol .toc-item.active>.toc-child {
  max-height: 1000px;
}
.sidebar {
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20rem;
  background: #fff;
  background-image: url("/images/sidebar-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom 0rem right;
  text-align: center;
  z-index: 10;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.sidebar:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
@media screen and (max-width: 768px) {
  .sidebar {
    left: -20rem;
    transform: translateX(0);
  }
}
.sidebar-translate {
  padding-left: 20rem;
}
@media screen and (max-width: 768px) {
  .sidebar-translate {
    padding-left: 0;
  }
}
.sidebar-toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  .sidebar-toggle {
    display: flex;
  }
}
.sidebar-toggle-fixed {
  position: fixed;
  left: 0.8rem;
  top: 0.6rem;
  line-height: 1;
  z-index: 20;
  cursor: pointer;
}
.sidebar .sidebar-panel {
  padding: 0.5rem;
  display: none;
}
.sidebar .sidebar-panel-active {
  display: block;
}
.sidebar .links {
  display: block;
}
.sidebar .links-item {
  display: inline-flex;
}
.sidebar .links-item .icon {
  width: 2rem;
  height: 2rem;
}
.sidebar .links-of-author {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sidebar .links-of-author .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.sidebar .links-of-author-item {
  line-height: 1;
  font-size: 0.9rem;
}
@media screen and (max-width: 768px) {
  .sidebar-open .sidebar {
    transform: translateX(20rem);
    visibility: visible;
  }
}
.is-home .sidebar {
  left: -20rem;
  transform: translateX(0);
  visibility: hidden;
}
.is-home .sidebar-toggle {
  display: flex;
}
.is-home .sidebar-translate {
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  padding-left: 0;
}
.is-home .sidebar-open .sidebar {
  transform: translateX(20rem);
  visibility: visible;
}
.is-home .sidebar-open .sidebar-translate {
  padding-left: 20rem;
}
@media screen and (max-width: 768px) {
  .is-home .sidebar-open .sidebar-translate {
    padding-left: 0;
  }
}
#site-overview-wrap {
  padding-top: 2rem;
}
.site-info.fix-top {
  margin-top: -1.5rem;
}
.site-author-avatar {
  display: inline-block;
  line-height: 0;
}
.site-author-avatar img {
  height: 96px;
  width: 96px;
  padding: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: 0.4s;
}
.site-author-avatar img:hover {
  box-shadow: 0 0 30px rgba(201,126,80,0.2);
}
.site-author-avatar img {
  border-radius: 50%;
}
.site-author-name {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.site-name {
  color: #303133;
  font-family: 'Songti SC', 'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto, serif;
  font-weight: 900;
}
.site-subtitle {
  display: block;
}
.site-desciption {
  color: #999;
  font-size: 0.8rem;
}
.site-state {
  display: flex;
  justify-content: center;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-align: center;
  margin-top: 1rem;
}
.site-state-item {
  display: flex;
  padding: 0 15px;
  align-items: center;
  border-left: 1px solid #ccc;
}
.site-state-item:first-child,
.site-state-item:last-child {
  line-height: 1;
  padding: 0;
}
.site-state-item:first-child {
  border-left: none;
  border-right: 1px solid #999;
}
.site-state-item:last-child {
  border-left: 1px solid #999;
}
.site-state-item:nth-child(2) {
  border: none;
}
.site-state-item-icon {
  color: #303133;
  line-height: 1;
}
.site-state-item-icon .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.site-state-item-count {
  display: block;
  text-align: center;
  color: #303133;
  font-size: 1rem;
}
#goUp {
  position: relative;
  position: fixed;
  right: -0.9rem;
  bottom: 1.1rem;
  z-index: 20;
  opacity: 0;
  color: #c97e50;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
}
#goUp.show {
  transform: translateX(-30px) rotate(360deg);
  opacity: 1;
}
#goUp .icon {
  width: 2.5rem;
  height: 2.5rem;
}
.progress-circle {
  transition: 0.3s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.progress-circle-container {
  position: absolute;
}
#local-search-input {
  outline: none;
}
#local-search-result {
  overflow: auto;
  margin: 0;
  padding: 0.5rem 0 1rem 0;
  height: calc(100% - 160px);
}
#local-search-result ul.search-result-list {
  margin: 0;
  padding: 0;
}
#local-search-result ul.search-result-list li {
  display: block;
  width: 100%;
  padding: 0.6rem 0;
}
#local-search-result ul.search-result-list li .search-result-title {
  font-family: 'Songti SC', 'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto, serif;
  font-weight: 900;
  font-size: 1.2rem;
}
#local-search-result ul.search-result-list li .search-result {
  margin: 0;
  font-size: 0.8rem;
}
#local-search-result ul.search-result-list li .search-result .search-keyword {
  color: #f00;
  font-style: normal;
  text-decoration: underline;
}
.search-popup {
  background-image: url("/images/search-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 4.5rem;
  margin: 0;
  opacity: 0;
  z-index: 30;
  transition: 0.6s;
  visibility: hidden;
}
.search-popup.show {
  visibility: visible;
  opacity: 1;
}
.search-header .close-icon {
  position: fixed;
  top: 0.6rem;
  right: 0.8rem;
}
.search-input {
  font-size: 1.5rem;
  border-radius: 3rem;
  padding: 1rem 1.5rem;
  border: 1px solid #999;
  box-sizing: border-box;
  width: 90%;
  max-width: 800px;
  font-family: 'Songti SC', 'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto, serif;
  font-weight: 900;
  text-align: center;
}
.popup .search-icon,
.popup .close-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
}
.popup .search-icon .icon,
.popup .close-icon .icon {
  width: 2rem;
  height: 2rem;
}
#search {
  position: fixed;
  top: 0.6rem;
  right: 0.8rem;
}
#search .icon {
  color: #c97e50;
}
.notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Songti SC', 'Noto Serif SC', STZhongsong, STKaiti, KaiTi, Roboto, serif;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid #000;
  max-width: calc(900px - 2rem);
  background-color: rgba(255,255,255,0.3);
}
@media screen and (max-width: 768px) {
  .notice {
    border-left-width: 0px;
    border-right-width: 0px;
  }
}
